# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
venv312/
genai/
.venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Chroma / vector database
chroma/
chroma_db/

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Uploaded PDFs
data/